/.metadata/
RemoteSystemsTempFiles/.project
Insurance/.DS_Store
Insurance/.DS_Store
Insurance/.metadata/.lock
Insurance/.metadata/.log
Insurance/.metadata/.mylyn/repositories.xml.zip
Insurance/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
*.index
Insurance/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Insurance/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Insurance/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.prefs
*.xmi
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
*.cfs
*.si
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
*.lock
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Insurance/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Insurance/.metadata/.plugins/org.eclipse.jdt.core/index.db
