/.metadata/
RemoteSystemsTempFiles/.project
Insurance/.DS_Store
Insurance/.DS_Store
Insurance/.metadata/.lock
Insurance/.metadata/.log
Insurance/.metadata/.mylyn/repositories.xml.zip
Insurance/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
*.index
Insurance/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
Insurance/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
Insurance/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.prefs
*.xmi
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
*.cfs
*.si
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
*.lock
Insurance/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Insurance/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
Insurance/.metadata/.plugins/org.eclipse.jdt.core/index.db
Insurance/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
Insurance/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
Insurance/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
Insurance/.metadata/version.ini
Insurance/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
Insurance/.metadata/.plugins/org.eclipse.ui.intro/introstate
Insurance/.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
Insurance/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.8.2.20171007-0217.xml
Insurance/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
Insurance/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
Insurance/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
